:root {
  --background: #e8f8ff;
  --foreground: #163259;

  --yellow: yellow;
  --white: #fafafa;

  --text: #6b6375;
  --text-h: #08060d;

  --error: #f1113e;

  --muted: #cbd5e1;
  --muted-foreground: #a1a1aa;
}
