.section404 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 72px;
  margin-bottom: 48px;
}

.text {
  font-size: 20px;
  margin-bottom: 48px;
}

.link {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.wrapper {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.link:hover {
  background-color: var(--secondary);
}
