.section404 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/img/404.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  color: var(--white);
}

.title {
  font-size: 72px;
  margin-bottom: 48px;
}

.text {
  font-size: 20px;
  margin-bottom: 48px;
}

.link {
  display: inline-block;
  transition: transform 0.3s ease;
}

.wrapper {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.link:hover {
  transform: scale(1.05);
}
